// Place all the styles related to the site_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.nav-header p {
  display: inline;
}

.product_name {
  color: black;
}

body {
  // background-color: black;
  color: rgb(82, 188, 191);
}

.hyperlinks{
  color: orange;
}
