// Place all the styles related to the site_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.nav-header p {
  display: inline;
}

.nav-footer p {
  display: inline;
  color: black;
}
.product_name {
  color: black;
}
.product-col {
  float: left;
  margin-left: 1em;
  margin-right: 1em;
  background-color: blue;
}

body {
  // background-color: black;
  color: rgb(82, 188, 191);
}

.hyperlinks{
  color: orange;
}

// .row h3{
//   font-size: ;
// }

.product-show {
  column-count: 6;
  column-width: auto;
  column-gap: 1em;
  background-color: red;
}
