<h1>Products</h1>

<% if @products.any? %>
<ul>
  <% @products.each do |product| %>
    <li><%= link_to product.name, product_path(product), class:"hyperlinks"%></li>
  <% end %>
</ul>
<% else %>
  <p>There are no products yet.</p>
<% end %>

<p><%= link_to "Add a new product", new_product_path, class:"hyperlinks"%></p>
