<div class="container">
  <nav class="nav-header">
    <p>|<%= link_to "Add a new product", new_product_path, class:"hyperlinks"%></p>
    |
  </nav>
</div>
<h1>Products</h1>

<div class="container, product-show">
      <% if @products.any? %>
      <ul>
        <% @products.each do |product| %>
          <li><%= link_to product.name, product_path(product), class:"hyperlinks"%></li>
        <% end %>
      </ul>
      <% else %>
        <p>There are no products yet.</p>
      <% end %>
</div>
